$firstColor: red;
$secondColor: blue;
$thirdColor: green;
$fontColor: gray;

.container-1 {
    [class^=box] {
        width: 80px;
        height: 80px;
        color: $fontColor;
        display: inline-flex;
        background-color: $firstColor;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    @for $i from 1 through 4 {
        .box-darken-#{$i} {
            background-color: darken($firstColor, $i * 5%);
            color: lighten($color: $fontColor, $amount: $i * 10%)
        }
    }
    @for $i from 1 through 4 {
        .box-lighten-#{$i} {
            background-color: lighten($firstColor, $i * 5%);
            color: darken($color: $fontColor, $amount: $i * 10%)
        }
    }
}
.container-2{
    [class^=box] {
        width: 80px;
        height: 80px;
        color: white;
        display: inline-flex;
        background-color: $secondColor;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    @for $i from 1 through 4 {
        .box-darken-#{$i} {
            background-color: darken($secondColor, $i * 5%);
            color: lighten($color: $fontColor, $amount: $i * 10%)
        }
    }
    @for $i from 1 through 4 {
        .box-lighten-#{$i} {
            background-color: lighten($secondColor, $i * 5%);
            color: darken($color: $fontColor, $amount: $i * 10%)
        }
    }
}
.container-3{
    [class^=box] {
        width: 80px;
        height: 80px;
        color: white;
        display: inline-flex;
        background-color: $thirdColor;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    @for $i from 1 through 4 {
        .box-darken-#{$i} {
            background-color: darken($thirdColor, $i * 5%);
            color: lighten($color: $fontColor, $amount: $i * 10%)
        }
    }
    @for $i from 1 through 4 {
        .box-lighten-#{$i} {
            background-color: lighten($thirdColor, $i * 5%);
            color: darken($color: $fontColor, $amount: $i * 10%)
        }
    }
}