
[class^=box]{
    width: 80px;
    height: 80px;
    display: inline-flex;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
[class^=box-darken]{
    background-color: black;
}
[class^=box-lighten]{
    background-color: orange;
}

