$colorBase: red;
$colorImportant: darkred;
$colorWarning: orange;
$colorText: black;
$borderRadius: 0px;
$boxShadow: 2px 2px 5px black;
$primaryFont: 'Times New Roman', serif;
$secondaryFont: 'Arial', sans-serif;