$colorBase: blue;
$colorImportant: darkblue;
$colorWarning: turquoise;
$colorText: black;
$borderRadius: 5 px;
$boxShadow: -2px 2px 5px black;
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Times New Roman', serif;